<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:fragment="content"
     layout:decorate="~{layout}"
>
    <h1 class="widget-header">FileEntities By Extensions</h1>

    <p></p>

    <p></p>

    <div>
        <table class="pure-table pure-table-bordered" id="table" th:fragment="table">

            <a th:href="${'/files/pc/empty/delete'}">Delete ALL</a>

            <tr th:each="fileEntity : ${files}">

                <td th:text="${fileEntity.absolutePath}"></td>

            </tr>

        </table>
    </div>
    </div>
</div>