<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:fragment="content"
     layout:decorate="~{layout}"
>
    <h1 class="widget-header">FileEntities By Ext</h1>

    <p></p>

    <p></p>


    <div>
        <table class="pure-table pure-table-bordered" id="table" th:fragment="table">


            <tr th:each="ext : ${fileEntitiesByExt}">

                <td th:text="${ext.absolutePath}"></td>
                <td><a th:href="${'/files/pc/ext/delete'}">Delete</a></td>


            </tr>

        </table>
    </div>
    </div>
</div>