<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:fragment="content"
     layout:decorate="~{layout}"
>
    <h1 class="widget-header">FileEntities By Extensions</h1>

    <p></p>

    <p></p>

    <div>
        <table class="pure-table pure-table-bordered" id="table" th:fragment="table">

            <a th:href="@{${#httpServletRequest.requestURI} +'/deleteAll'}">Delete ALL</a>

            <tr th:each="fileEntity : ${fileEntitiesByExt}">

                <td th:text="${fileEntity.absolutePath}"></td>
                <td th:text="${fileEntity.id}"></td>
                <td><a th:href="@{'/files/delete/' + ${fileEntity.id}}">Delete</a></td>

            </tr>

        </table>
    </div>
    </div>
</div>