<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Synchronizer</title>
</head>
<body>
<p>Synchronizer</p>
<table width="200">
    <tr>
        <th>PC</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td><a href="/files/all/pc">Files PC</a></td>
        <td><a href="/files/all/phone">Files Phone</a></td>
    </tr>
    <tr>
        <td><a href="/files/ext/pc">Ext PC</a></td>
        <td><a href="/files/ext/phone">Ext Phone</a></td>
    </tr>
    <tr>
        <td><a href="/files/refresh/pc">Refresh PC</a></td>
        <td><a href="/files/refresh/phone">Refresh Phone</a></td>
    </tr>
    <tr>
        <td><a href="/files/onlyOn/pc">Only on PC</a></td>
        <td><a href="/files/onlyOn/phone">Only on Phone</a></td>
    </tr>
</table>
</body>
</html>