<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p>Synchronizer</p>
<ul>
    <li><a href="/files/pc/refresh">Refresh</a></li>
    <li><a href="/files/pc/empty">Empty Folders</a></li>

</ul>
<table width="200">
    <tr>
        <th>PC</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td><a href="/files/all/pc">Files PC</a></td>
        <td><a href="/files/all/phone">Files Phone</a></td>
    </tr>
    <tr>
        <td><a href="/files/ext/pc">Ext PC</a></td>
        <td><a href="/files/ext/phone">Ext Phone</a></td>
    </tr>
</table>
</body>
</html>